<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ blog['title'] }}</title>
  <link rel="stylesheet" href="{{ static_url('index.css') }}">
</head>
<body>
  <div class="wrapper">
    <h1> {{ blog['title'] }}</h1>
    <p class="author">{{ blog['author'] }}</p>
    <p>{% raw blog['body'] %}</p>
    <h2>评论</h2>
    {% for comment in comments %}
    <div class="comment">
      <div>
        <span class="reviewer">{{ comment[0] }}</span>
        <span class="date">{{ comment[1] }}</span>
        <blockquote> {{ comment[2] }}</blockquote>
      </div>
    </div>
    {% end %}
    {% if current_user %}
    <div class="comment-form">
      <form action="/" method="post">
        <p>{{ current_user }}</p>
        <textarea name="comment" cols="100" rows="10"></textarea>
        <input type="submit" value="提交评论">
        {% raw xsrf_form_html() %}
      </form>
    </div>
    <a href="/logout">logout</a>
    {% end %}
  </div>
</body>
</html>
